<bad-card *ngIf="state$ | async as state">
  <ng-container top>
    <button *ngIf="state.locked" bad-btn-ico ico-sm (click)="unlock()">
      <svg-icon src="assets/svg/edit.svg"></svg-icon>
    </button>
    <button
      *ngIf="!state.locked"
      bad-btn-ico
      ico-sm
      (click)="save(state.enrollee)"
    >
      <svg-icon src="assets/svg/save.svg"></svg-icon>
    </button>

    <div *ngIf="state.enrollee.active" class="active">
      <span>Active</span>
      <button
        bad-btn-ico
        ico-sm
        color="green"
        (click)="toggleActive()"
        *ngIf="!state.locked"
      >
        <svg-icon src="assets/svg/power.svg"></svg-icon>
      </button>
    </div>
    <div *ngIf="!state.enrollee.active" class="active">
      <span>Active</span>
      <button
        bad-btn-ico
        ico-sm
        color="gray-500"
        (click)="toggleActive()"
        *ngIf="!state.locked"
      >
        <svg-icon src="assets/svg/power.svg"></svg-icon>
      </button>
    </div>
  </ng-container>
  <ng-container middle>
    <div class="title">
      <span>Identifier</span>
      <button bad-btn-ico ico-xs color="orange">
        <svg-icon src="assets/svg/copy.svg"></svg-icon>
      </button>
    </div>
    <div class="id">
      <span> {{ state.enrollee.id }} </span>
    </div>
  </ng-container>
  <ng-container bottom>
    <bad-lockable-input
      #input
      [locked]="state.locked"
      [formControl]="name"
      [badControlBind]="state.enrollee.name"
    ></bad-lockable-input>
    <div class="dob" *ngIf="state.enrollee.dateOfBirth">
      <span>MM/DD/YYYY</span>
      <span>{{ state.enrollee.dateOfBirth }}</span>
    </div>
  </ng-container>
</bad-card>
