@import 'variables', 'mixins';

h2 {
  font-size: 1rem;
  font-weight: 700;
}

.active,
.inactive {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.active {
  color: $green;
}

.inactive {
  color: $gray-500;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.5rem;
}

.id {
  font-size: 0.875rem;
}

.dob {
  display: flex;
  flex-direction: column;

  & > span:first-child {
    font-size: 0.5rem;
    font-weight: 400;
  }
  & > span:last-child {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
