<bad-card>
  <ng-container top>
    <button bad-btn-ico ico-sm>
      <svg-icon src="assets/svg/edit.svg"></svg-icon>
    </button>
    <span class="active">Active</span>
  </ng-container>
  <ng-container middle>
    <div class="title">
      <span>Identifier</span>
      <button bad-btn-ico ico-xs color="orange">
        <svg-icon src="assets/svg/copy.svg"></svg-icon>
      </button>
    </div>
    <div class="id">
      <span> FE1636A3-4D23-4068-BA56-551FAE06E29C </span>
    </div>
  </ng-container>
  <ng-container bottom>
    <h2>Bradley Axelson</h2>
    <div class="dob">
      <span>MM/DD/YYYY</span>
      <span>10/20/1993</span>
    </div>
  </ng-container>
</bad-card>
